footer {
    bottom: 0; 
    position: fixed;
    background-color: #fff;
    color: black;
    font-family: bold;
    text-transform: capitalize;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 30px;
}